.topnav {
    overflow: hidden;
    background-color: #555555;
    margin-bottom: 2%;
    border-radius: 8px;
    padding: 13px;
    color: #FFF;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    border-radius: 6px;
    color: black;
  }
  
  .topnav a.active {
    background-color: #969696;
    color: white;
  }
  
  .topnav .login-container {
    float: right;
  }
  
  .topnav input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width:230px;
    text-align: end;
    background-color: #555;
  }

  .topnav ::placeholder{
      color: #FFF;
  }
  
  .topnav .login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 12px;
    margin-right: 16px;
    background-color: transparent;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .topnav .login-container button:hover {
    background-color: #717171;
  }